.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgb(245, 231, 212);
    opacity: 85%
}

.container Button{
    width: 100%;
    border: 1px solid black;
    margin: 5px;
}
.container h1{
    text-align: center;
}