.searchResults{
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    border: solid black 1px; 
}
.searchResultsMain{
    height: 80vh;
    max-height: 80vh;
}
.searchResults p{
    font-size: 10px;
}

.searchResults h5{
    font-size: 12px;
}

.searchListingResult{
    display: grid;
    /* grid-template-rows: auto; */
    grid-template-columns: 25% 12% 12% auto;
    align-items: center;
    width: 100%;
    border: solid 1px black;
    padding-left: 10px;
    background-color: rgb(245, 231, 212);
    opacity: 85%;
}

/* .itemInfo{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
} */

.itemSale img, .itemTrade img{
    width:35px;
    height: 35px;
}
.main Button{
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
}

.searchListingResult h6{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}