.forTrade{
    /* display:grid;
    grid-template-columns: 45% auto;
    align-items: center;
    width: 100%;
    flex-direction: rows; */
}

.newListingButton{
    width: 30%;
    border: 1px solid black;
    margin-top: 5px;
}

.newListing{ 
    text-align: center;
}

