.searchdiv{
    width: 90%;
    margin-left: 5%;
    align-items: center;
}

.searchdiv Button{
    width: 30%;
    border: 1px solid black;
    margin-top: 5px;
    align-self: center;
}

.searchdiv label{
    font-size: 20px;
}
.searchdiv select{
    width: 100px;
    float: right;
    margin-right: 25%;
    margin-top: 5px;
}

.searchdiv h2{
    text-align: center;
}