.searchdiv{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 15px;
    align-items: center;
    background-color: rgb(245, 231, 212);
    opacity: 85%;
}

.searchdiv Button{
    width: 30%;
    border: 1px solid black;
    margin-top: 5px;
    align-self: center;
}

.searchdiv label{
    font-size: 20px;
}
.searchdiv select{
    width: 100px;
    float: right;
    margin-right: 25%;
    margin-top: 5px;
}

.searchdiv h2{
    text-align: center;
}